<%- include('includes/head.ejs', {title: '401 Error!'}) %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <h1>You are not authenticated - Please login!</h1>
    </main>
  </body>
</html>
