<%- include('includes/head.ejs', {title: '401 Error!'}) %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <main class="error-page">
      <h1>Error 404! - Resource not found!</h1>
    </main>
  </body>
</html>
