<%- include('includes/head.ejs', {title: '500 Error!'}) %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <h1>Something went wrong - Please try again later!</h1>
    </main>
  </body>
</html>
