<%- include('includes/head.ejs', {title: 'Login'}) %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <main id="login">
      <div class="form-container">
      
        <form action="/login" method="POST">
          <h1>Login</h1>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
          <label for="password">password</label>
          <input type="password" name="password" id="password" />
          <button class="btn login-btn" type="submit">Login</button>
        </form>
      
    </div>
    </main>
  </body>
</html>
