<%- include('includes/head.ejs', {title: 'Welcome'}) %>
  
  
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <main id="welcome">
    <h1>Welcome to my Property Management Suite</h1>
    <h2>All-in-one solution for managing AirBnB properties</h2>
    <section class="welcome-details">
    <p class="heading">For this demo, there are 2 logins available</p>
    <p class="heading">Login as an administrator:</p>
    <p>Email: admin@propsol.com</p>
    <p>Password: password</p>
    <p class="heading">Login as a site manager:</p>
    <p>Email: manager@propsol.com</p>
    <p>Password: password</p>
    
  </section>
  <form action="/login" method="GET">

    <button class="btn">Login</button>
  </form>
  </main>
  
    
  </body>
</html>
