.form-container {
  text-align: center;
}

.capture-flex-container {
  display: flex;
  justify-content: space-evenly;
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.history h2 {
  margin: 1rem 0;
}

.transaction-capture-list {
  list-style: none;
}

.transaction-capture-item {
  display: flex;
}

.transaction-capture-item p {
  width: 8rem;
  border: 1px solid #000;
  text-align: center;
  padding: 1rem;
}

.table-heading {
  font-weight: bold;
}

@media only screen and (max-width: 720px) {
  .capture-flex-container {
    flex-direction: column;

    align-items: center;
  }
  .form-container {
    max-width: 80%;
  }
}
