#navbar {
  background: var(--primary);
  color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  transition: 200ms ease-in;
}

.logo-span {
  color: #000;
}

#navbar-list {
  display: flex;
  position: relative;

  list-style: none;
  justify-content: center;
  align-content: center;
  height: 100%;
}

#navbar-list a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 2rem 1rem;
}

#navbar-list a:hover {
  color: var(--primary);
  background-color: #fff;
}

.logout {
  background-color: var(--primary);
  border: none;
  color: #fff;
  font-size: 1.2rem;
}

.logout:hover {
  color: red;
  cursor: pointer;
}

#navbar-list .current a {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

#navbar-list .current a:hover {
  background: var(--primary);
  color: #fff;
}

.hamburger {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #000;
  cursor: pointer;
  z-index: 100;
}

@media only screen and (max-width: 800px) {
  #navbar {
    transform: translateY(-100%);
    flex-direction: column;
    padding: 2rem 0;
    position: absolute;
    inset: 0;
  }
  .hamburger {
    display: block;
  }

  .hamburger:hover {
    color: #000;
  }

  #navbar-list {
    flex-direction: column;

    align-items: center;
  }
}

.show {
  transform: translateY(0);
}
